body
{
    background-color:rgb(251, 224, 195);
}
*{
    margin:0;
    padding:0;
}
#title {
    background-color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #344648;
    color:#fbe0c3;
    box-shadow: 6px 3px 18px #344648;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    font-weight: bold;
}
    .meals:before {
        content: " ";
        border-radius: 5px;
        border-width: 0px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(250, 18, 60);
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.75);
        transform-origin: 0 0;
        transform: scaleX(0);
        z-index: -1;
    }
    .meals:hover::before {
        transform: scaleX(1);
    }
    .meals:hover {
        color:#fbe0c3;
    }
#menu{
    width:25%;
}
#main {
    top: 300px;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content:center;
}
    #main div {
        background-color: rgb(255, 187, 152);
        border-radius: 5px;
        height: 700px;
        margin: 0 15px 0 15px;
        box-shadow: 6px 3px 18px #7d8e95;
        display: flex;
        align-items: center;
        font-size: 18pt;
        font-weight: bold;
        padding-top: 20px;
        flex-direction: column;
    }
    #main button {
        width: 80%;
        height: 8%;
        border: 0;
        border-radius: 5px;
        background-color: white;
        font-size: 16pt;
        font-weight: bold;
        margin-top: 10px;
        cursor: pointer;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px #7d8e95;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        box-shadow: 6px 3px 18px #7d8e95;
    }
        #main button:hover {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }
#cart {
    width: 30%;
}
    #cart div {
        width: 70%;
        box-shadow: 6px 3px 18px #7d8e95;
        background-color: white;
        height: 600px;
        padding: 0;
    }
        #cart div div {
            width: 100%;
            height: 50px;
            padding: 0;
            box-shadow: none;
            border: 0.5px solid #ffbb98;
            border-width: 0.1px 0 0.1px 0;
            border-radius: 0;
            flex-direction: row;
            justify-content: center;
        }
        #cart div div input{
            margin-left:20px;
            width:10%;
            font-size:16pt;
            text-align:center;
            border-width:0 0 1px 0;
        }
.ui-dialog-titlebar {
    background-color: rgb(255, 187, 152);
    font-size: 18pt;
    font-weight: bold;
    text-align:center;
}